@import 'react-chat-elements/dist/main.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    font-family: sans-serif;
    background-color: #cccccc;
    max-height: 100vh;
}

::placeholder {
    font-style: italic;
}

.btn:disabled {
    background-color: red;
    border: red
}