::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb{
    background: grey;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}

.ChatList {
    height: 100%;
    background-color: #0a460f;
    border-right: 1px solid #00680aad;
    overflow-y: scroll;
    margin: 0;
    z-index: 2;
}