.App {
    width: 100% - max-content;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #0a440f;
    overflow: visible;
    flex: 1 0 auto;
    position: relative;
}