.App {
    width: 100% - max-content;
    height: available;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #117019;
    overflow: visible;
}

.ChatPanel {
    width: calc(100% - 300px);
    height: 100%
}